<% include _header %>
<h2>
Tutto è stato eliminato correttamente!
</h2>
<font color="red">
	<h3>
		Verrai reindirizzato all'amministrazione...
	</h3>
</font>
<% include _footer %>

<meta http-equiv="refresh" content="2;url=/admin" />
