<% include _header %> 
<h2>
  Seleziona la modalità di lavoro:
</h2>

<a href="/cassa" class="btn btn-primary pull-left">
    Vai alla cassa
</a>
</br>
</br>
<a href="/orders" class="btn btn-primary pull-left">
    Vai alla cucina
</a>
</br>
</br>
<a href="/bar" class="btn btn-primary pull-left">
    Vai Bar
</a>
</br>
</br>
<a href="/admin" class="btn btn-primary pull-left">
    Vai all'amministrazione
</a>

<% include _footer %>