<!DOCTYPE html>
<html>

<head>

<meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">

<title>Sagra San Bellino</title>

<!-- Bootstrap core CSS -->
    <link href="/startbootstrap-new-age/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link rel="stylesheet" href="vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="vendor/simple-line-icons/css/simple-line-icons.css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="device-mockups/device-mockups.min.css">

    <!-- Custom styles for this template -->
    <link href="/startbootstrap-new-age/css/new-age.min.css" rel="stylesheet">
    
</head>

<body>

<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    
    <div class="container">
        
        <div class="navbar-header">
            <a class="navbar-brand pull-left" href="/">Stand Panini</a>
        </div>
    </div>

</div>
        
<nav class="navbar navbar-expand-lg navbar-light">
        
<div class="container">

<h2>
  Seleziona la modalità di lavoro:
</h2>

<a href="/cassa" class="btn btn-primary pull-left">
    Vai alla cassa
</a>

</br>
</br>

<a href="/orders" class="btn btn-primary pull-left">
    Vai alla cucina
</a>

</br>
</br>

<a href="/admin" class="btn btn-primary pull-left">
    Vai all'amministrazione
</a>
</div>
</nav>
<footer>
      <div class="container">
        <p>&copy; 2018 Stand Panini App. All Rights Reserved.</p>
      </div>
</footer>


</body>
</html>