<% include _header %>
<h1><small class="text-muted">Report carne</small></h1>
<div class="row">
  <div class="col-sm">
    <% stats.forEach((stat)=>{ %>
      <h4> Totale vendite <%=stat._id%>: <%=stat.count%> <h4>
    <% }) %>
</div>
  </div>


<% include _footer %>	