<% include _header %>
<h1><small class="text-muted">Report giornate</small></h1>
<div class="row">
  <div class="col-sm">
    <% burgerStats.forEach(function(dailyStats) { %>
		<h3> giorno numero <%= dailyStats.day %> </h3>
	 	<h4> totale vendite panini: <%= dailyStats.total %>€ </h4>
	 	<h4> totale vendite bevande: <%= beveragesStats[dailyStats.day-1].total %>€ </h4>
 	<% }) %>
  </div>
</div>

<% include _footer %>