<% include _header %>

<div class="page-header">
  <h1>Ordini In Consegna</h1>
</div>
<div class="container">
  <div class="row">
    <% burgers.forEach((order)=>{ %>
      <div class="col-md-4">
        <div class="panel panel-info">
          <div class="panel-heading">
            <div class="order-status">
              <p class="text-center">
                <strong>
                  <%= order.actualOrder.id %>
                </strong>
              </p>
            </div>
          </div>
        </div>
      </div>
      <% }) %>
  </div>
  <hr>
  <div class="row">
    <% extras.forEach((order)=>{ %>
      <div class="col-md-4">
        <div class="panel panel-warning">
          <div class="panel-heading">
            <div class="order-status">
              <p class="text-center">
                <strong>
                  <%= order.actualOrder.id %>
                </strong>
              </p>
            </div>
          </div>
        </div>
      </div>
      <% }) %>
  </div>
</div>


  <% include _footer %>
  <meta http-equiv="refresh" content="15">